.message-list::-webkit-scrollbar-thumb{
    background-color:#D1D5DB;
    border-radius: 10px;
}

.message-list::-webkit-scrollbar-thumb:hover {
    background-color: #9CA3AF;
  }
  
  /*light-grey = #d6dee1; */
  /* dark-grey = #a8bbbf*/