.chat-component-header {
  font-size: 1.2rem;
  font-weight: 500;
}

.message-date {
  position: fixed;
  z-index: 1000;
  left: 50%;
  padding: 4px 8px;
  border-radius: 5px;
  background: orange;
  color: #fff;
}

.send-message-container {
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 0.5rem;
}

.emoji-mart {
  width: 100% !important;
}
