.content-style {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 80%;
  height: 80%;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.chatapp-title {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
