.search-contacts {
  background-color: #e9ecef;
}

.all-contacts-list .list-group {
  border-radius: 0px;
}

.all-contacts-list .list-group-item:hover {
  background: var(--very-light-gray);
}

.all-contacts-list::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}

.all-contacts-list::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}
