.sidebar-style {
  border-bottom-left-radius: 1rem;
}

.chat-list {
  border-bottom-left-radius: 1rem;
}

.chat-list .list-group-item {
  background: transparent;
  color: #fff;
}
.list-group-item:hover {
  cursor: pointer;
}

.chat-list .list-group {
  border-radius: 0px;
}

.chat-list .list-group-item:hover {
  background: var(--primary-light);
  color: #fff;
}
.chat-list .list-group-item.active {
  background: var(--primary-dark);
  cursor: pointer;
}
